.appBar {
  background: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 0;
  height: 72px;
}

.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}