.itemHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: #f2f4f7;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #e44848;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.icon {
  fill: #f2f4f7;
}

.icon.filled {
  fill: #ffc531;
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin: 0;
}