.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.feature {
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #101828;
  text-transform: capitalize;
}

.icon {
  fill: #101828;
}